.user-logo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-size: cover!important;
  overflow: hidden;
  border: 2px solid #3490dc;

  .text-logo {
    background: #35495e;
    font-size: 58px;
    color: #FFF;
    text-transform: uppercase;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .remove {
    justify-content: center;
    align-items: center;
    color: #FFF;
    border-radius: 50%;
    height: 100%;
    cursor: pointer;
    background: rgba(#000, 0.5);
  }
}

.review {

    .finger {
        position: absolute;
        right: 15px;
        top: 0;
    }
}

@media (max-width: 768px) {
    .review {
        .finger { position: unset; right: auto; }
    }
}

@media (max-width: 375px) {
    .user-logo {
        width: 80px; height: 80px;

        .text-logo { width: 80px; height: 80px; font-size: 42px; }
    }
}
